@font-face {
  font-family: "TT Hoves";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("TT Hoves"), url("/fonts/TTHoves-Medium.woff2") format("woff2"), url("/fonts/TTHoves-Medium.woff") format("woff");
}

:root {
  --brand-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'TT Hoves';
  font-style: normal;
}

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.gap-1 {
  gap: 10px;
}